
h1{
  font: bold 10vmin/1 'Cinzel', serif;
  color: black;
}

.App {
  text-align: center;
}

.slidecontainer {
  width: 100%;
  display: block;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 5px solid black;
  width: 1000px;
}
input[type=range]{
  margin: 0 auto;
  margin-top: 15px;

}
